<html>
<head>
<%= stylesheet_link_tag 'mystyles' %>
<%= auto_discovery_link_tag :atom, formatted_holidays_path(:atom) %>
</head>
<body>

  <% if flash[:notice] %>
    <div class="flash"><%= flash[:notice] %></div>
  <% end %>

  
  <div id="wrapper">
  
  <%= yield %>
  
  </div>
  
</body>
</html>
